<?xml version="1.0"?>
<launch>
	<!--group ns="robot01"-->
		<include file="$(find minilab_simulation)/launch/minilab_gazebo.launch" />
		<include file="$(find minilab_simulation)/launch/minilab_state_publisher.launch" />

		<!-- joy node -->
		<node respawn="true" pkg="joy" type="joy_node" name="teleop_joy" >
			<param name="dev" type="string" value="/dev/input/js0" />
			<param name="deadzone" value="0.12" />
		</node>

		<node pkg="teleoperation" type="teleop_minilab.py" name="teleop"/>
	<!--/group-->
</launch>
